<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<configSections>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
	</configSections>
	<dataConfiguration defaultDatabase="expdb"/>
	<connectionStrings>
		<!--***DB - Local***-->
		<add name="expdb" connectionString="Database=exp-sl;Server=EA-LAPTOP\SQLEXPRESS;Uid=sl_app;Pwd=Chocolate28;" providerName="System.Data.SqlClient"/>
		<!--***DB - Production***-->
		<!--<add name="expdb" connectionString="Database=statlearn;Server=SQL1\Inst1;Uid=statlearndb;Pwd=YOGqu#~V;" providerName="System.Data.SqlClient"/>-->
	</connectionStrings>
	<appSettings>
		<!-- CHANGE THIS TO DOMAIN NAME (EXCLUDING 'HTTP://') ON THE ONLINE SITE  -->
		<add key="HomePage" value="/Default.aspx"/>
		<add key="DefaultPage" value="/Default.aspx"/>
		<add key="LoginPage" value="/Login.aspx?backto="/>
		<add key="LogoutPage" value="/Logout.aspx"/>
		<add key="AdminPage" value="/admin/Default.aspx"/>
        <add key="AdminSLDataPage" value="/admin/SL_Data.aspx"/>
        <add key="AdminSLConfigPage" value="/admin/SL_Config.aspx"/>
		<add key="AdminSLConfigSummaryPage" value="/admin/SL_Config_Summary.aspx"/>
        <add key="AdminSLConfigCreatePage" value="/admin/SL_Config_Create.aspx"/>
        <add key="AdminSLConfigViewPage" value="/admin/SL_Config_View.aspx?cid="/>
        <add key="ExpSLPage" value="/exp/SL.aspx?pd="/>

        <add key="RegExNumeric" value="[0-9]{1,}"/>
        <add key="RegExIDNumber" value="[0-9]{9}"/>
        <add key="RegExConfigName" value="[a-zA-Z0-9_-]{1,}"/>
        <add key="RegExPresetTriplets" value="([\[]([VAMS][0-9]{2}[,]{0,2}){3}[\]][;]{0,1}){1,9}"/>

        <add key="ErrMsgRequired" value="This is a required field."/>
        <add key="ErrMsgNumeric" value="Please enter a valid numeric value."/>
        <add key="ErrMsgConfigName" value="Please use latin letters (a-z/A-Z), digits (0-9), hyphens (-) and underscores (_) only."/>
        <add key="ErrMsgPresetTripletsFormat" value="Invalid format! Example of a valid format: [A01,A02,A03];[A04,A05,A06]."/>
        <add key="ErrMsgRequiredHeb" value="זהו שדה חובה."/>
	</appSettings>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="None"/>
		<customErrors mode="RemoteOnly" defaultRedirect="/Error.aspx">
		</customErrors>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<httpRuntime executionTimeout="1000"/>
		<pages>
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</controls>
		</pages>
		<httpHandlers>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>            
		</httpHandlers>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</httpModules>
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="OptionInfer" value="true"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
		</compilers>
	</system.codedom>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<remove name="ScriptModule"/>
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</modules>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated"/>
			<remove name="ScriptHandlerFactory"/>
			<remove name="ScriptHandlerFactoryAppServices"/>
			<remove name="ScriptResource"/>
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</handlers>
		<httpErrors existingResponse="Replace" defaultResponseMode="Redirect" errorMode="Custom">
			<remove statusCode="502" subStatusCode="-1"/>
			<remove statusCode="501" subStatusCode="-1"/>
			<remove statusCode="500" subStatusCode="-1"/>
			<remove statusCode="412" subStatusCode="-1"/>
			<remove statusCode="406" subStatusCode="-1"/>
			<remove statusCode="405" subStatusCode="-1"/>
			<remove statusCode="403" subStatusCode="-1"/>
			<remove statusCode="404" subStatusCode="-1"/>
			<error statusCode="404" prefixLanguageFilePath="" path="/Error.aspx" responseMode="ExecuteURL"/>
			<error statusCode="403" prefixLanguageFilePath="" path="/Error.aspx" responseMode="ExecuteURL"/>
			<error statusCode="405" prefixLanguageFilePath="" path="/Error.aspx" responseMode="ExecuteURL"/>
			<error statusCode="406" prefixLanguageFilePath="" path="/Error.aspx" responseMode="ExecuteURL"/>
			<error statusCode="412" prefixLanguageFilePath="" path="/Error.aspx" responseMode="ExecuteURL"/>
			<error statusCode="500" prefixLanguageFilePath="" path="/Error.aspx" responseMode="ExecuteURL"/>
			<error statusCode="501" prefixLanguageFilePath="" path="/Error.aspx" responseMode="ExecuteURL"/>
			<error statusCode="502" prefixLanguageFilePath="" path="/Error.aspx" responseMode="ExecuteURL"/>
			<!--<remove statusCode="401" subStatusCode="-1" />
			<error statusCode="401" prefixLanguageFilePath="" path="/Error.aspx" responseMode="ExecuteURL" />-->
		</httpErrors>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
